<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="come.team.mapper.InquiryMapper">

	<select id="getInquiryList" resultType="come.team.domain.InquiryVO">
		<![CDATA[
			select 
				inquiryNo, 
				id, 
				name, 
				title, 
				content, 
				password, 
				inquiryDate
			from (
				select /*+ INDEX_DESC(TBL_INQUIRY PK_INQUIRY) */
					rownum rn, 				
					inquiryNo, 
					id, 
					name, 
					title, 
					content, 
					password, 
					inquiryDate
					from TBL_INQUIRY
				where rownum <= #{pageNum} * #{amount}
				)
			where rn > (#{pageNum} -1) * #{amount}
		]]> 
	</select>
	
	<select id="getReplyList" resultType="come.team.domain.ReplyVO">
		select * from TBL_REPLY
	</select>	
	
	<select id="getInquiryNum" resultType="int">
		select count(*) from TBL_INQUIRY
	</select>
	
	<select id="getReplyNum" resultType="int">
		select count(*) from TBL_REPLY
	</select>
	
	<select id="getInquiryView" resultType="come.team.domain.InquiryVO">
		select INQUIRYNO, ID, NAME, TITLE, CONTENT, PASSWORD, INQUIRYDATE 
		from TBL_INQUIRY 
		where inquiryNo = #{inquiryNo} 
	</select>
	
	<insert id="registerInquiry"></insert>
	
	<delete id="deleteInquiry"></delete>



	<insert id="registerReplyInquiry">
		insert into tbl_reply (replyNo, inquiryNo, title, id, content) values
		(tbl_reply_seq.nextval, (select inquiryNo from tbl_inquiry where
		inquiryNo = #{inquiryNo}), #{title}, #{id}, #{content})
		<!-- values (seq_reply.nextval, #{replyNo}, #{title}, #{id}) -->
	</insert>

	<select id="getReplyView" resultType="come.team.domain.ReplyVO">
		select replyNo, inquiryNo, id, title, content, replyDate
		from TBL_REPLY
		where replyNo = #{replyNo}
	</select>
	
	<select id="getReplyListByInquiryNo" resultType="come.team.domain.ReplyVO">
		select replyNo, inquiryNo, id, title, content, replyDate
		from TBL_REPLY
		where inquiryNo = #{inquiryNo}
	</select>	

</mapper>
